 <div id="logo">
	
		<img src="/images/migliazza-maquinarias.png" width="100%" />

</div><!--Fin de logo -->
			
			
<div id="barra-lateral" ><!--Comienza Barra Lateral -->
 
	<div id="bloque-menu-lateral" style="height: 100%;">
		
		<div id="bloque-menu-unico">
		
			
		</div><!--Fin del bloque del menu unico -->


		<div id="bloque-menu-unico">
			

		</div><!--Fin del bloque del menu unico -->

		
		<div id="bloque-menu-unico">
			

		</div><!--Fin del bloque del menu unico -->
		
		<div id="bloque-menu-unico">

			

		</div><!--Fin del bloque del menu unico -->
		
	</div><!--Fin Bloque Menu Lateral -->
		
</div><!--Fin Barra Lateral -->