<div id="barra-cabecera">
	<div id="barra-cabecera-lado-izq"><strong>Escritorio</strong><br />Tablero de estados y oportunidades </div>
	<div id="barra-cabecera-lado-der"><a href="/logOut" class="btn btn-danger">Salir</a></div>
</div><!--Fin Barra Cabecera -->