<div id="barra-cabecera" style=" background-color: #000; margin-top: 10px; padding:0">

	<img style="background-color: #000;" src="/images/migliazza-maquinarias.png" alt="Imagen de Migliazza SRL" width="30%" height="20%"
		class="image-fluid">

	<div id="barra-cabecera-lado-izq"></div>

	<div id="barra-cabecera-lado-der"></div>

</div><!--Fin Barra Cabecera -->