 <div id="logo">
	<a href="/panel_de_control">
		<img src="/images/migliazza-maquinarias.png" width="100%" />
	</a>
</div><!--Fin de logo -->
			
			
<div id="barra-lateral"><!--Comienza Barra Lateral -->
 
	<div id="bloque-menu-lateral">
		
		<div id="bloque-menu-unico">
			<div id="titulo-de-bloque-menu">Interacciones</div>
				
				<div id="item-de-bloque-menu"><img src="/images/icono-interacion.png" width="18" height="15" /> <a href="/interacciones">Ver interacciones</a></div>

				<div id="item-de-bloque-menu"><img src="/images/icono-agregar.png" width="18" height="15" /> <a href="/carga_interacciones">Agregar interacción</a></div>
			
		</div><!--Fin del bloque del menu unico -->


		<div id="bloque-menu-unico">
			<div id="titulo-de-bloque-menu">Clientes</div>

				<div id="item-de-bloque-menu"><img src="/images/icono-caja.png" width="18" height="15" /> <a href="/clientes">Ver clientes</a></div>
 
				<div id="item-de-bloque-menu"><img src="/images/icono-persona.png" width="18" height="15" /> <a href="/carga_clientes">Agregar cliente</a></div>

				<div id="item-de-bloque-menu"><img src="/images/icono-maquinas-propias.png" width="18" height="15" />  <a href="/buscar_cliente">Buscar cliente</a></div>

		</div><!--Fin del bloque del menu unico -->

		
		<div id="bloque-menu-unico">
			<div id="titulo-de-bloque-menu">Maquinaria</div>
				
				<div id="item-de-bloque-menu"><img src="/images/icono-maquinas-propias.png" width="18" height="15" /> <a href="/maquinas_disponibles">Ver maquinaria</a></div>
 
				<div id="item-de-bloque-menu"><img src="/images/icono-maquinas-propias.png" width="18" height="15" />  <a href="/Cargar_maquina">Agregar m&aacute;quina</a></div>

				<div id="item-de-bloque-menu"><img src="/images/icono-persona.png" width="18" height="15" /> <a href="/buscar_maquinaria">Buscar maquinaria</a></div>

				<div id="item-de-bloque-menu"><img src="/images/icono-persona.png" width="18" height="15" /> <a href="/listado_tipo_maquinaria">Gestionar categorías </a></div>

		</div><!--Fin del bloque del menu unico -->
		
		<div id="bloque-menu-unico">

			<div id="titulo-de-bloque-menu">Usuario</div>

				<div id="item-de-bloque-menu"><img src="/images/icono-vendedores.png" width="18" height="13" /> <a href="/empleados">Ver usuarios</a></div>

				<div id="item-de-bloque-menu"><img src="/images/icono-carpeta.png" width="18" height="15" /> <a href="/notificaciones">Tareas pendientes </a></div>

		</div><!--Fin del bloque del menu unico -->
		
	</div><!--Fin Bloque Menu Lateral -->
		
</div><!--Fin Barra Lateral -->