<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 sinpadding">
      {{> lateralBeta}}
    </div>
    <!--DENTRO DE ESTE DIV VA: la cabecera y el contenido-->

    <div class="col-md-10 sinpadding">

      {{> cabeceraBeta}}<!--cabecera-->


      <div class="row box-ind sinpadding"><!-- Dentro de este div va todo el contenido-->

        <div class="col-md-12 box-cajas"><!--Comienzo col 12-->

          <div class="row">
            <div class="row mt-2 mb-2">
              <div class="col-md-4">
                <h4>Cargar galería</h4>
                <div class="alert alert-danger" role="alert">
                  10 fotos por cada carga
                </div>
              </div>
            </div>

            <div class="row">


              <form class="form-group" action="/cargar-galeria/create/{{id_maquinaria}}" method="post"
                enctype="multipart/form-data">
                <!-- Utiliza el atributo 'multiple' en el input para permitir la selección de varias fotos -->
                <input class="form-control w-50" type="file" name="fotos" multiple>
                <br>
                <button class="btn btn-outline-success" type="submit">Subir fotos</button>

              </form>

            </div>

          </div>

        </div><!--fin row box-ind-->

      </div><!--fin col-md-10-->

    </div><!--fin row-->
    <div><!--fin container fluid-->