<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 sinpadding">
      {{> lateralBeta}}
    </div>
    <!--DENTRO DE ESTE DIV VA: la cabecera y el contenido-->

    <div class="col-md-10 sinpadding">

      {{> cabeceraBeta}}<!--cabecera-->


      <div class="row box-ind sinpadding"><!-- Dentro de este div va todo el contenido-->

        <div class="col-md-12 box-cajas">

          <div class="container-fluid">

            <div class="row mt-2 mb-2">
              <div class="col-md-4">
                <h4>Cargar cliente</h4>
              </div>
            </div>

            <form class="form-group" action="/carga_clientes/create" method="post">
              <!--primer cuatro de columnas-->
              <div class="row">
                <div class="col-md-4">
                  <label class="form-label" for="razon_social">Razón social </label>
                  <input class="form-control" type="text" name="razon_social" placeholder="Razón social (*) ">
                </div>

                <div class="col-md-4">

                  <label class="form-label" for="nombre_de_contacto">Contacto </label>
                  <input class="form-control" type="text" name="nombre_de_contacto" placeholder="Contacto (*) ">

                </div>

                <div class="col-md-4">
                  <label for="telefono">Teléfono </label>
                  <input class="form-control" type="text" name="telefono" placeholder="Teléfono  (*)">

                </div>

              </div>

              <div class="row">

                <div class="col-md-4">
                  <label class="form-label" for="dirección">Dirección </label>
                  <input class="form-control" type="text" name="direccion" placeholder="Dirección (*)">
                </div>


                <div class="col-md-4">
                  <label class="form-label" for="localidad">Localidad </label>
                  <input class="form-control" type="text" name="localidad" placeholder="Localidad (*)">

                </div>


                <div class="col-md-4 ">
                  <label class="form-label" for="provincia">Provincia </label>
                  <select name="provincia" id="" class="form-control">
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Ciudad Autónoma de Buenos Aires">Ciudad Autónoma de Buenos Aires
                    </option>
                    <option value="Catamarca">Catamarca</option>
                    <option value="Chaco">Chaco</option>
                    <option value="Chubut">Chubut</option>
                    <option value="Córdoba">Córdoba</option>
                    <option value="Corrientes">Corrientes</option>
                    <option value="Entre Ríos">Entre Ríos</option>
                    <option value="Formosa">Formosa</option>
                    <option value="Jujuy">Jujuy</option>
                    <option value="La Pampa">La Pampa</option>
                    <option value="La Rioja">La Rioja</option>
                    <option value="Mendoza">Mendoza</option>
                    <option value="Misiones">Misiones</option>
                    <option value="Neuquén">Neuquén</option>
                    <option value="Río Negro">Río Negro</option>
                    <option value="Salta">Salta</option>
                    <option value="San Juan">San Juan</option>
                    <option value="San Luis">San Luis</option>
                    <option value="Santa Cruz">Santa Cruz</option>
                    <option value="Santa Fe">Santa Fe</option>
                    <option value="Santiago del Estero">Santiago del Estero</option>
                    <option value="Tierra del Fuego">Tierra del Fuego</option>
                    <option value="Tucumán">Tucumán</option>
                  </select>

                </div>
              </div>

              <div class="row">


                <div class="col-md-4">
                  <label class="form-label" for="correo_electronico">Correo electrónico </label>
                  <input class="form-control" type="text" name="correo_electronico" placeholder="Correo electrónico">

                </div>

                <div class="col-md-4">
                  <label class="form-label" for="cuit">Cuit</label>
                  <input class="form-control" type="text" name="cuit" placeholder="Cuit (*)">
                </div>

                <div class="col-md-4">
                  <label class="form-label" for="semaforo_comercial">Semáforo comercial</label>
                  <select class="form-control " name="semaforo_comercial" id="">
                    <option value="rojo">Rojo</option>
                    <option value="amarillo">Amarillo</option>
                    <option value="verde">Verde</option>
                    <option value="Sin clasificar">Sin clasificar</option>
                  </select>
                </div>

              </div>

              <div class="textarea-container">
                <textarea name="observaciones" placeholder="Escribe aquí las observaciones"></textarea>
              </div>

              <div class="row">
                <div class="col-md-3 mt-3 mb-3">
                  <button type="submit" class="btn btn-warning">Cargar cliente</button>
                </div>
              </div>


            </form>

          </div><!--fin col-md-12 box-cajas-->

        </div><!--fin row box-ind-->

      </div><!--fin col-md-10-->

    </div><!--fin row-->

  </div><!--fin container fluid-->