<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Maqueta Responsive Migliazza CRM</title>

	<meta name="description" content="Source code generated using layoutit.com">
	<meta name="author" content="LayoutIt!">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Open%20Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela%20Round' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-2 sinpadding">
				<div id="logo">
					<img src="images/migliazza-maquinarias.png" width="100%" />
				</div><!--Fin de logo -->

			</div><!--Fin de COL MD 2 -->


			<div class="col-md-10 sinpadding">

				<div id="barra-cabecera">

					<div id="barra-cabecera-lado-izq">
						<strong>Escritorio</strong><br />
						Tablero de estados y oportunidades
					</div>

					<div id="barra-cabecera-lado-der">
						Login <br />
						Buscar
					</div>

				</div><!--Fin Barra Cabecera -->

			</div><!--Fin de COL MD 10 -->

		</div><!--Fin de ROW -->


		<div class="row">

			<div class="col-md-2 sinpadding">

				<div id="barra-lateral"><!--Comienza Barra Lateral -->
					<div id="boton">
						<div align="center">
							<input name="Cargar " type="button" class="boton" value="Cargar Interacci&oacute;n" />
						</div>
					</div><!--Fin de boton  -->


					<div id="bloque-menu-lateral">

						<div id="bloque-menu-unico">
							<div id="titulo-de-bloque-menu">Interacciones</div>
							<div id="item-de-bloque-menu"><img src="images/icono-agregar.png" width="18" height="15" />
								<a href="#">Agregar nueva</a></div>
							<div id="item-de-bloque-menu"><img src="images/icono-interacion.png" width="18"
									height="15" /> <a href="#">Ver Interacciones</a></div>
							<div id="item-de-bloque-menu"><img src="images/icono-caja.png" width="18" height="15" /> <a
									href="#">Contactos</a></div>
						</div><!--Fin del bloque del menu unico -->

						<div id="bloque-menu-unico">
							<div id="titulo-de-bloque-menu">Maquinaria</div>
							<div id="item-de-bloque-menu"><img src="images/icono-maquinaria.png" width="18"
									height="15" /> <a href="#">Agregar nueva</a></div>
							<div id="item-de-bloque-menu"><img src="images/icono-persona.png" width="18" height="15" />
								<a href="#">M&aacute;quinas Buscadas </a></div>
							<div id="item-de-bloque-menu"><img src="images/icono-maquinas-propias.png" width="18"
									height="15" /> <a href="#">Ver Disponibles </a></div>
						</div><!--Fin del bloque del menu unico -->

						<div id="bloque-menu-unico">
							<div id="titulo-de-bloque-menu">Ventas</div>
							<div id="item-de-bloque-menu"><img src="images/icono-vendedores.png" width="18"
									height="13" /> <a href="#">Vendedores</a></div>
							<div id="item-de-bloque-menu"><img src="images/icon-calendario.png" width="17"
									height="17" /> <a href="#">Tareas Pendientes </a></div>
							<div id="item-de-bloque-menu"><img src="images/icono-carpeta.png" width="18" height="15" />
								<a href="#">Oportunidades</a></div>
						</div><!--Fin del bloque del menu unico -->

					</div><!--Fin Bloque Menu Lateral -->
				</div><!--Fin de COL MD 2 -->
			</div><!--Fin Barra Lateral -->

			<div class="col-md-10">


				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="row"><!--Row contenedor de bloques de colores -->

								<div class="col-md-4">
									<div id="bloque-naranja">
										<div id="bloque-icono"><a href="#"><img src="images/tractor-solid.png"
													width="57px" height="" border="0" /></a></div>
										<div id="bloque-titulo"><a href="#">Maquinaria Disponibles </a></div>
										<div id="bloque-subtitulo"><strong>En venta, oportunidades, listado de equipos
											</strong></div>
									</div>
								</div>

								<div class="col-md-4">
									<div id="bloque-celeste">
										<div id="bloque-icono"><a href="#"><img src="images/Vector.png"
													border="0" /></a></div>
										<div id="bloque-titulo"><a href="#">Listado de Interacciones </a></div>
										<div id="bloque-subtitulo"><strong>&Uacute;ltimos cargados, qu&eacute; quieren
												comprar..</strong></div>
									</div>
								</div>

								<div class="col-md-4">
									<div id="bloque-azul">
										<div id="bloque-icono"><a href="#"><img src="images/Vector (1).png"
													border="0" /></a></div>
										<div id="bloque-titulo"><a href="#">Estados de Interacciones </a></div>
										<div id="bloque-subtitulo"><strong>Concretadas, en proceso, estado de vendedores
											</strong></div>
									</div>
								</div>

							</div><!--Fin Row contenedor de bloques de colores -->

							<div class="row">

								<div class="col-md-4"><!--Row contenedor de Tareas Pendientes -->
									<div id="box-tareas-pendientes">
										<div id="titulo-box">Tareas Pendientes - <a href="#">Ver todas </a></div>

										<div id="bloque-tareas-pendientes">
											<div id="icono-tarea-pendiente"><img src="images/icono-calendario.png"
													width="100%" height="" /></div>
											<div id="titulo-tarea-pendiente"><a href="#">Maquimaq Las Parejas SRL</a>
											</div>
											<div id="subtitulo-tarea-pendiente">2da Llamada: <strong>14/07/2022</strong>
												(Franco Orsi) </div>
										</div><!--Fin de Bloque Tareas Pendientes -->

										<div id="bloque-tareas-pendientes">
											<div id="icono-tarea-pendiente"><img src="images/icono-calendario.png"
													width="100%" height="" /></div>
											<div id="titulo-tarea-pendiente"><a href="#">Nombre del que hay que
													llamar</a></div>
											<div id="subtitulo-tarea-pendiente">2da Llamada: <strong>18/08/2022</strong>
												(Gustavo Migliazza) </div>
										</div><!--Fin de Bloque Tareas Pendientes -->

										<div id="bloque-tareas-pendientes">
											<div id="icono-tarea-pendiente"><img src="images/icono-calendario.png"
													width="100%" height="" /></div>
											<div id="titulo-tarea-pendiente"><a href="#">Nombre del que hay que
													llamar</a></div>
											<div id="subtitulo-tarea-pendiente">2da Llamada: <strong>22/08/2022</strong>
												(Franco Orsi) </div>
										</div><!--Fin de Bloque Tareas Pendientes -->

										<div id="bloque-tareas-pendientes">
											<div id="icono-tarea-pendiente"><img src="images/icono-calendario.png"
													width="100%" height="" /></div>
											<div id="titulo-tarea-pendiente"><a href="#">Nombre del que hay que
													llamar</a></div>
											<div id="subtitulo-tarea-pendiente">2da Llamada: <strong>22/08/2022</strong>
												(Octavio Alper&iacute;n) </div>
										</div><!--Fin de Bloque Tareas Pendientes -->

										<div id="bloque-tareas-pendientes">
											<div id="icono-tarea-pendiente"><img src="images/icono-calendario.png"
													width="100%" height="" /></div>
											<div id="titulo-tarea-pendiente"><a href="#">Nombre del que hay que
													llamar</a></div>
											<div id="subtitulo-tarea-pendiente">2da Llamada: <strong>14/07/2022</strong>
												(Franco Orsi) </div>
										</div><!--Fin de Bloque Tareas Pendientes -->
									</div><!--Fin de Box Tareas Pendientes -->
								</div><!--Fin de Row contenedor de Tareas Pendientes -->


								<div class="col-md-8"><!--Row contenedor Últimas Interacciones -->
									<div id="box-ultimas-interacciones">
										<div id="titulo-box">Últimas Interacciones - <a href="#">Ver todas</a> </div>

										<div id="bloque-ultimas-interacciones">
											<div id="icono-ultima-interaccion"><img src="images/icono-perfil.png"
													width="100%" height="" /></div>
											<div id="titulo-ultima-interaccion"><a href="#">Venado M&aacute;quinas SRL
												</a><br /></div>
											<div id="subtitulo-ultima-interaccion">
												<div align="center">M&aacute;quina Nueva </div>
											</div>
											<div id="bloque-data-ultima-interaccion">Gustavo Migliazza </div>
											<div id="bloque-data-ultima-interaccion">
												<div id="estado-ultima-interaccion">En curso</div>
											</div>
											<div id="bloque-data-ultima-interaccion">Bombal (Santa Fe)</div>
										</div><!--Fin de Bloque ultimas interacciones -->

										<div id="bloque-ultimas-interacciones">
											<div id="icono-ultima-interaccion"><img src="images/icono-perfil.png"
													width="100%" height="" /></div>
											<div id="titulo-ultima-interaccion"><a href="#">Venado M&aacute;quinas SRL
												</a><br /></div>
											<div id="subtitulo-ultima-interaccion">
												<div align="center">M&aacute;quina Nueva </div>
											</div>
											<div id="bloque-data-ultima-interaccion">Gustavo Migliazza </div>
											<div id="bloque-data-ultima-interaccion">
												<div id="estado-ultima-interaccion">En curso</div>
											</div>
											<div id="bloque-data-ultima-interaccion">Bombal (Santa Fe)</div>
										</div><!--Fin de Bloque ultimas interacciones -->

										<div id="bloque-ultimas-interacciones">
											<div id="icono-ultima-interaccion"><img src="images/icono-perfil.png"
													width="100%" height="" /></div>
											<div id="titulo-ultima-interaccion"><a href="#">Venado M&aacute;quinas SRL
												</a><br /></div>
											<div id="subtitulo-ultima-interaccion">
												<div align="center">M&aacute;quina Nueva </div>
											</div>
											<div id="bloque-data-ultima-interaccion">Gustavo Migliazza </div>
											<div id="bloque-data-ultima-interaccion">
												<div id="estado-ultima-interaccion">En curso</div>
											</div>
											<div id="bloque-data-ultima-interaccion">Bombal (Santa Fe)</div>
										</div><!--Fin de Bloque ultimas interacciones -->

										<div id="bloque-ultimas-interacciones">
											<div id="icono-ultima-interaccion"><img src="images/icono-perfil.png"
													width="100%" height="" /></div>
											<div id="titulo-ultima-interaccion"><a href="#">Venado M&aacute;quinas SRL
												</a><br /></div>
											<div id="subtitulo-ultima-interaccion">
												<div align="center">M&aacute;quina Nueva </div>
											</div>
											<div id="bloque-data-ultima-interaccion">Gustavo Migliazza </div>
											<div id="bloque-data-ultima-interaccion">
												<div id="estado-ultima-interaccion">En curso</div>
											</div>
											<div id="bloque-data-ultima-interaccion">Bombal (Santa Fe)</div>
										</div><!--Fin de Bloque ultimas interacciones -->

										<div id="bloque-ultimas-interacciones">
											<div id="icono-ultima-interaccion"><img src="images/icono-perfil.png"
													width="100%" height="" /></div>
											<div id="titulo-ultima-interaccion"><a href="#">Venado M&aacute;quinas SRL
												</a><br /></div>
											<div id="subtitulo-ultima-interaccion">
												<div align="center">M&aacute;quina Nueva </div>
											</div>
											<div id="bloque-data-ultima-interaccion">Gustavo Migliazza </div>
											<div id="bloque-data-ultima-interaccion">
												<div id="estado-ultima-interaccion">En curso</div>
											</div>
											<div id="bloque-data-ultima-interaccion">Bombal (Santa Fe)</div>
										</div><!--Fin de Bloque ultimas interacciones -->
									</div><!--Fin de Box Ultimas Interacciones -->
								</div> <!--Fin de Row Ultimas Interacciones -->

							</div>


							<div class="row">

								<div class="col-md-6">
									<div id="box-graficos">
										<div id="titulo-box">Comparativo de ventas - <a href="#">Ver todas</a> </div>
										<img src="images/modelo-grafico-demo-010.png" width="100%" />
									</div>
								</div><!--Fin col Box Grafico -->

								<div class="col-md-6">
									<div id="box-graficos">
										<div id="titulo-box">Comparativo de ventas - <a href="#">Ver todas</a> </div>
										<img src="images/modelo-grafico-demo-020.png" width="100%" />
									</div>
								</div><!--Fin col Box Grafico -->

							</div>


							<div class="row">
								<div class="col-md-12">
									<nav>
										<ul class="pagination">
											<li class="page-item">
												<a class="page-link" href="#">Previous</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">1</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">2</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">3</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">4</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">5</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">Next</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<h2>
								Heading
							</h2>
							<p>
								Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
								commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
								porta sem malesuada magna mollis euismod. Donec sed odio dui.
							</p>
							<p>
								<a class="btn" href="#">View details »</a>
							</p>
						</div>
						<div class="col-md-4">
							<h2>
								Heading
							</h2>
							<p>
								Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
								commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
								porta sem malesuada magna mollis euismod. Donec sed odio dui.
							</p>
							<p>
								<a class="btn" href="#">View details »</a>
							</p>
						</div>
						<div class="col-md-4">
							<h2>
								Heading
							</h2>
							<p>
								Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
								commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
								porta sem malesuada magna mollis euismod. Donec sed odio dui.
							</p>
							<p>
								<a class="btn" href="#">View details »</a>
							</p>
						</div>
					</div>
				</div>


			</div><!--Fin de COL MD 10 -->

		</div>
		<div class="row">
			<div class="col-md-12">
				PIE DE CRM
			</div>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
</body>

</html>