<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Fotos almacenadas:</h1>
            {{#each publicUrls}}
            <div class="row">
                <div class="col-md-3">
                    <img src="{{this}}" alt="Imagen de ejemplo" />
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>